*.o
*.a
*.in
.deps
Makefile
*.out
*.log
vice/doc/html/*.html
missing
vice/aclocal.m4
vice/autom4te.cache
vice/compile
vice/config.status
vice/configure
vice/configure.ac
vice/depcomp
vice/doc/html/COPYING
vice/doc/html/NEWS
vice/doc/texinfo.tex
vice/doc/vice.info
vice/src/arch/unix/next_open_rhap/vice.info
vice/src/bin2c
vice/src/c128_vdc_comp_vpl.h
vice/src/c128_vdc_deft_vpl.h
vice/src/c128basic64.h
vice/src/c128basichi.h
vice/src/c128basiclo.h
vice/src/c128chargch.h
vice/src/c128chargde.h
vice/src/c128chargen.h
vice/src/c128chargfr.h
vice/src/c128chargse.h
vice/src/c128kernal.h
vice/src/c128kernal64.h
vice/src/c128kernalch.h
vice/src/c128kernalde.h
vice/src/c128kernalfi.h
vice/src/c128kernalfr.h
vice/src/c128kernalit.h
vice/src/c128kernalno.h
vice/src/c128kernalse.h
vice/src/c1541
vice/src/c64_c64hq_vpl.h
vice/src/c64_c64s_vpl.h
vice/src/c64_ccs64_vpl.h
vice/src/c64_default_vpl.h
vice/src/c64_frodo_vpl.h
vice/src/c64_godot_vpl.h
vice/src/c64_pc64_vpl.h
vice/src/c64_vice_vpl.h
vice/src/c64basic.h
vice/src/c64chargen.h
vice/src/c64kernal.h
vice/src/cartconv
vice/src/cbm2basic128.h
vice/src/cbm2basic256.h
vice/src/cbm2basic500.h
vice/src/cbm2chargen500.h
vice/src/cbm2chargen600.h
vice/src/cbm2chargen700.h
vice/src/cbm2kernal.h
vice/src/cbm2kernal500.h
vice/src/config.h
vice/src/debug.h
vice/src/drived1541II.h
vice/src/drived1571cr.h
vice/src/drivedos1001.h
vice/src/drivedos1540.h
vice/src/drivedos1541.h
vice/src/drivedos1551.h
vice/src/drivedos1570.h
vice/src/drivedos1571.h
vice/src/drivedos1581.h
vice/src/drivedos2000.h
vice/src/drivedos2031.h
vice/src/drivedos2040.h
vice/src/drivedos3040.h
vice/src/drivedos4000.h
vice/src/drivedos4040.h
vice/src/geninfocontrib
vice/src/gentranslate
vice/src/infocontrib.h
vice/src/palette2c
vice/src/pet_amber_vpl.h
vice/src/pet_green_vpl.h
vice/src/pet_white_vpl.h
vice/src/petbasic1.h
vice/src/petbasic2.h
vice/src/petbasic4.h
vice/src/petcat
vice/src/petchargen.h
vice/src/petedit1g.h
vice/src/petedit2b.h
vice/src/petedit2g.h
vice/src/petedit4b40.h
vice/src/petedit4b80.h
vice/src/petedit4g40.h
vice/src/petkernal1.h
vice/src/petkernal2.h
vice/src/petkernal4.h
vice/src/plus43plus1hi.h
vice/src/plus43plus1lo.h
vice/src/plus4_default_vpl.h
vice/src/plus4basic.h
vice/src/plus4kernal.h
vice/src/printermps803.h
vice/src/printernl10cbm.h
vice/src/resid-dtv/.aclocal.out
vice/src/resid-dtv/.autoconf.out
vice/src/resid-dtv/.automake.out
vice/src/resid-dtv/aclocal.m4
vice/src/resid-dtv/autom4te.cache/
vice/src/resid-dtv/config.log
vice/src/resid-dtv/config.status
vice/src/resid-dtv/configure
vice/src/resid-dtv/siddtvdefs.h
vice/src/resid/.aclocal.out
vice/src/resid/.autoconf.out
vice/src/resid/.automake.out
vice/src/resid/aclocal.m4
vice/src/resid/autom4te.cache/
vice/src/resid/config.log
vice/src/resid/config.status
vice/src/resid/configure
vice/src/resid/siddefs.h
vice/src/stamp-h1
vice/src/superpet_char.h
vice/src/superpet_waterloo_a000.h
vice/src/superpet_waterloo_b000.h
vice/src/superpet_waterloo_c000.h
vice/src/superpet_waterloo_d000.h
vice/src/superpet_waterloo_e000.h
vice/src/superpet_waterloo_f000.h
vice/src/translate.h
vice/src/translate_table.h
vice/src/vic20_default_vpl.h
vice/src/vic20basic.h
vice/src/vic20chargen.h
vice/src/vic20kernal.h
vice/src/vsid
vice/src/x128
vice/src/x64
vice/src/x64dtv
vice/src/x64sc
vice/src/xcbm2
vice/src/xcbm5x0
vice/src/xpet
vice/src/xplus4
vice/src/xscpu64
vice/src/xvic
vice/vice-gtk.spec
vice/vice-mint-sdl.spec
vice/vice-mint.spec
vice/vice.spec
vice/ylwrap
